.popup5{
    position: fixed;
        top: 0; bottom: 0; 
        left: 0; right:0;
        margin: auto;
        width: 700px;
        height: 600px;
        padding: 15px;
        border: solid 1px #000066;
        background-color: white;
        display: none;

}
.boton {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* boton de Cliente Nuevo */
.boton {
background-color: #000066;
border: none;
color: white;
padding: 10px 80px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
margin: 2px 0px;
cursor: pointer;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
top: 400px;
}
input[type="text"]{
    width: 100%;
    padding: 10px 3px;
    margin: 8px 30px;
    display: inline-block;
    border: 1px solid #000066;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 10px
}
textarea{
  width: 100%;
    padding: 10px 3px;
    margin: 8px 30px;
    display: inline-block;
    border: 1px solid #000066;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 10px
}
input[type="submit"] {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* boton de Cliente Nuevo */
input[type="submit"] {
  background-color: #000066;
  border: none;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}